:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
 width: 100vw;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fo{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  text-align: center;
}
.hero{
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  background: -webkit-linear-gradient(rgb(238, 238, 238), rgba(224, 224, 224, 0.579));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.2em;
  line-height: 1.3;
}
h2 {
  background: -webkit-linear-gradient(rgb(238, 238, 238), rgba(224, 224, 224, 0.579));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  
  
}
.hi{
  background: -webkit-linear-gradient(rgb(238, 238, 238), rgb(54, 188, 247));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.2em;
  line-height: 1.3;
}

/* .sm{
  display: flex;
} */

.chr{
  height: 1px;
  width:80%;
  background-color: #ffffff;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.cl-internal-1eekank{
  color: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* Styles for large smartphones (max-width: 600px) */
@media (max-width: 600px) {
  h1 {
      font-size: 2.5em;
  }
  h2 {
      margin-right: 90px;
      font-size: 1em;
  }
  button {
      padding: 0.5em 1em;
  }
  .navbar {
      height: 30px;
  }
  .iauth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
  }
}

@media(max-width: 360px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    margin-right: 50px;
    font-size: 1.em;
  }
  button {
    padding: 0.5em 1em;
  }
  .navbar{
    height: 20px;
  }
  .iauth{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100% ;
    width:100% ;
  }
  .sign-in-container{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center ;


  }
  button{
    font-weight: 100;
    font-size: 0.8em;

    padding: 1px 1px;
  }
  .navbar{
    height: 15px;
    width: 250px;
  }
  .txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-left: 4px;
  }
}

/* Styles for large tablets (max-width: 1024px) */
@media (max-width: 1024px) {
  h1 {
      font-size: 2.75em;
  }
  h2 {
     
      font-size: 1.3em;
  }
  button {
      padding: 0.8em 1.6em;
  }
  .navbar {
      height: 50px;
  }
}
  


/* Styles for medium tablets (max-width: 768px) */
@media (max-width: 768px) {
  h1 {
      font-size: 2.5em;
  }
  h2 {
      
      font-size: 1.2em;
  }
  button {
      padding: 0.7em 1.4em;
  }
  .navbar {
      height: 40px;
  }
}



